uvicorn
fastapi
pydantic_settings
docker
pytest
sqlalchemy
redis
alembic
pydantic
psycopg2
asyncpg
passlib
bcrypt
python-jose
asgiref
cffi
click
cryptography
h11
pycparser
PyJWT
starlette
typing-extensions